<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Happy Birthday, <%= name %>!</title>

  <!-- The order you list the stylesheets sets the priority. For example placing CSS AFTER Bootstrap 
   would mean CSS styles over-ride Bootstrap and vice-versa)-->
  <!-- CSS styles -->
  <link rel="stylesheet" href="/css/style.css">
  <!-- Bootstrap CSS from CDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>

<body style="background-image: url('/images/background_balloons.png'); ">

  <!-- Audio Element (Hidden) -->
  <audio id="myAudio" autoplay loop>
    <source src="/music/B-Day_Song.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>

  <div class="container">

    <!-- Floating Music Control Buttons -->
    <div class="floating-controls">
      <button onclick="playAudio()" id="playBtn" class="btn btn-info btn-sm w-50 mb-1">Play Music</button><br>
      <button onclick="pauseAudio()" id="pauseBtn" class="btn btn-info btn-sm w-50 mb-1">Pause Music</button><br>
      <button onclick="stopAudio()" id="stopBtn" class="btn btn-info btn-sm mb-1 w-50 text-wrap">For the love of God,
        Stop the Music</button>
    </div>

    <div class="row">
      <div class="col-lg-12 col-sm-8">
        <div class="card-container">
          <h1 class="birthday-text">Happy Birthday, <%= name %>!</h1>
          <div class="images">
            <% images.forEach(image=> { %>
              <img src="<%= image %>" alt="bImage" style="width: 100px;">
              <% }); %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-sm-8 mx-auto">
        <div class="slider mx-auto">
          <div class="slides">
            <div class="slide">
              <img src="/images/slider/2.jpg" loading="lazy">
            </div>
            <div class="slide">
              <img src="/images/slider/3.jpg" loading="lazy">
            </div>
            <div class="slide">
              <img src="/images/slider/12.jpg" loading="lazy">
            </div>
            <div class="slide">
              <img src="/images/slider/4.jpg" loading="lazy">
            </div>
            <div class="slide">
              <img src="/images/slider/5.jpg" loading="lazy">
            </div>
            <div class="slide">
              <img src="/images/slider/7.jpg" loading="lazy">
            </div>
            <div class="slide">
              <img src="/images/slider/8.jpg" loading="lazy">
            </div>
            <div class="slide">
              <img src="/images/slider/9.jpg" loading="lazy">
            </div>
            <div class="slide">
              <img src="/images/slider/10.jpg" loading="lazy">
            </div>
            <div class="slide">
              <img src="/images/slider/1.jpg" alt="Slide 1">
            </div>
            <div class="slide">
              <img src="/images/slider/13.jpg" loading="lazy">
            </div>
            <div class="slide">
              <img src="/images/slider/DSC00392.JPG" loading="lazy">
            </div>
            <div class="slide">
              <img src="/images/slider/DSC02070.JPG" loading="lazy">
            </div>
            <div class="slide">
              <img src="/images/slider/DSC00030.JPG" loading="lazy">
            </div>
            <div class="slide">
              <img src="/images/slider/DSC00115.JPG" loading="lazy">
            </div>
            <div class="slide">
              <img src="/images/slider/DSC00279.JPG" loading="lazy">
            </div>
            <div class="slide">
              <img src="/images/slider/DSC00506.JPG" loading="lazy">
            </div>
            <div class="slide">
              <img src="/images/slider/DSC00528.JPG" loading="lazy">
            </div>
            <div class="slide">
              <img src="/images/slider/DSC00660.JPG" loading="lazy">
            </div>
            <div class="slide">
              <img src="/images/slider/DSC00754.JPG" loading="lazy">
            </div>
            <div class="slide">
              <img src="/images/slider/DSC00856.JPG" loading="lazy">
            </div>
            <div class="slide">
              <img src="/images/slider/DSC00860.JPG" loading="lazy">
            </div>
            <div class="slide">
              <img src="/images/slider/DSC00927.JPG" loading="lazy">
            </div>
            <div class="slide">
              <img src="/images/slider/DSC01014.JPG" loading="lazy">
            </div>
            <div class="slide">
              <img src="/images/slider/DSC01013.JPG" loading="lazy">
            </div>
            <div class="slide">
              <img src="/images/slider/DSC01303.JPG" loading="lazy">
            </div>
            <div class="slide">
              <img src="/images/slider/DSC02834.JPG" loading="lazy">
            </div>
            <div class="slide">
              <img src="/images/slider/DSC02836.JPG" loading="lazy">
            </div>
            <div class="slide">
              <img src="/images/slider/loly pop.JPG" loading="lazy">
            </div>
            <div class="slide">
              <img src="/images/slider/DSC02415.JPG" loading="lazy">
            </div>
            <div class="slide">
              <img src="/images/slider/DSC02519.JPG" loading="lazy">
            </div>
            <div class="slide">
              <img src="/images/slider/DSC02521.JPG" loading="lazy">
            </div>
            <div class="slide">
              <img src="/images/slider/Picture103.jpg" loading="lazy">
            </div>
            <div class="slide">
              <img src="/images/slider/SDC13093.JPG" loading="lazy">
            </div>
            <div class="slide">
              <img src="/images/slider/SDC10869.JPG" loading="lazy">
            </div>
            <div class="slide">
              <img src="/images/slider/SDC11449.JPG" loading="lazy">
            </div>
            <div class="slide">
              <img src="/images/slider/SDC11463.JPG" loading="lazy">
            </div>
            <div class="slide">
              <img src="/images/slider/SDC12574.JPG" loading="lazy">
            </div>
            <div class="slide">
              <img src="/images/slider/SDC12566.JPG" loading="lazy">
            </div>
            <div class="slide">
              <img src="/images/slider/SDC12851.JPG" loading="lazy">
            </div>
            <div class="slide">
              <img src="/images/slider/IMG_5624.JPG" loading="lazy">
            </div>
            <div class="slide">
              <img src="/images/slider/Photo100.jpg" loading="lazy">
            </div>
            <div class="slide">
              <img src="/images/slider/D100.jpg" loading="lazy">
            </div>
            <div class="slide">
              <img src="/images/slider/D101.jpg" loading="lazy">
            </div>
            <div class="slide">
              <img src="/images/slider/Photo101.jpg" loading="lazy">
            </div>
            <div class="slide"> <img src="/images/slider/IMG-20241119-WA0001.jpg" loading="lazy"> </div>
            <div class="slide"> <img src="/images/slider/IMG-20241119-WA0002.jpg" loading="lazy"> </div>
            <div class="slide"> <img src="/images/slider/IMG-20241119-WA0003.jpg" loading="lazy"> </div>
            <div class="slide"> <img src="/images/slider/IMG-20241119-WA0004.jpg" loading="lazy"> </div>
            <div class="slide"> <img src="/images/slider/IMG-20241119-WA0005.jpg" loading="lazy"> </div>
            <div class="slide"> <img src="/images/slider/IMG-20241119-WA0006.jpg" loading="lazy"> </div>
            <div class="slide"> <img src="/images/slider/IMG-20241119-WA0007.jpg" loading="lazy"> </div>
            <div class="slide"> <img src="/images/slider/IMG-20241119-WA0008.jpg" loading="lazy"> </div>
            <div class="slide"> <img src="/images/slider/IMG-20241119-WA0010.jpg" loading="lazy"> </div>
            <div class="slide"> <img src="/images/slider/IMG-20241119-WA0011.jpg" loading="lazy"> </div>
            <div class="slide"> <img src="/images/slider/IMG-20241119-WA0012.jpg" loading="lazy"> </div>
            <div class="slide"> <img src="/images/slider/IMG-20241119-WA0017.jpg" loading="lazy"> </div>
            <div class="slide"> <img src="/images/slider/IMG-20241119-WA0018.jpg" loading="lazy"> </div>
            <div class="slide"> <img src="/images/slider/IMG-20241119-WA0021.jpg" loading="lazy"> </div>
            <div class="slide"> <img src="/images/slider/IMG-20241119-WA0022.jpg" loading="lazy"> </div>

            <div class="slide">
              <img src="/images/slider/Photo102.jpg" loading="lazy">
            </div>


          </div>
          <!-- Navigation buttons -->
          <button class="prev" onclick="moveSlide(-1)">&#10094;</button>
          <button class="next" onclick="moveSlide(1)">&#10095;</button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="cake mx-auto">
        <img src="/images/cake.gif" width="280" height="280" class="img-fluid"></iframe>
      </div>
    </div>


  </div>

  <script src="slider2.js"></script>

  <script>
    window.onload = function () {
      createConfetti();
      setInterval(createConfetti, 10000);  // 10000 ms = 10 seconds repeat
    };

    function createConfetti() {
      
      const numberOfConfetti = 100; // Number of confetti pieces
      const confettiContainer = document.body;

      console.log(numberOfConfetti);

      for (let i = 0; i < numberOfConfetti; i++) {
        const confettiPiece = document.createElement('div');
        confettiPiece.classList.add('confetti');

        // Set the initial position to start from the top
        confettiPiece.style.top = '0px';

        confettiPiece.style.left = `${Math.random() * 100}vw`; // Random horizontal position
        confettiPiece.style.animationDelay = `${Math.random() * 2}s`; // Delay for staggered animation
        confettiContainer.appendChild(confettiPiece);

        // Optional: Remove confetti after animation
        setTimeout(() => {
          confettiPiece.remove();
        }, 5000); // Confetti piece disappears after 3 seconds
      }
    }
  </script>



  <script>
    const audio = document.getElementById('myAudio');

    // Play Audio
    function playAudio() {
      audio.play();
    }

    // Pause Audio
    function pauseAudio() {
      audio.pause();
    }

    // Stop Audio
    function stopAudio() {
      audio.pause();
      audio.currentTime = 0; // Reset to start
    }
  </script>

</body>

</html>