@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
  font-family: 'Outfit', sans-serif;
  margin: 0;
  color: #262627;
  font-weight: medium;
  position: relative;
}

.card-container {
  text-align: center;
  margin-top: 50px;
}

.birthday-text {
  font-size: 48px;
  color: #262627;
}

.images img {
  max-width: 80%;
  margin: 10px;
  border-radius: 8px;
}

@keyframes confetti-fall {
  0% {
    opacity: 1;
    transform: translateY(-50px) rotate(0deg);
  }
  100% {
    opacity: 0;
    transform: translateY(100vh) rotate(720deg);
  }
}

.confetti {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #ffeb3b;
  opacity: 0;
  animation: confetti-fall 2s ease-in-out infinite;
}

.confetti:nth-child(odd) {
  background-color: #f50057;
}

.confetti:nth-child(3n) {
  background-color: #00e5ff;
}